/* ===== Couleurs de base ===== */
.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-base: #ffffff;
}

.tool-bar {
    -fx-background-color: linear-gradient(to right, #3949ab, #5c6bc0);
    -fx-padding: 8 10 8 10;
}

.title {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#buttonTab {
    -fx-background-radius: 8;
    -fx-background-color: #ffffff22;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
#buttonAdd {
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(to right, #3949ab, #5c6bc0);
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #ffffff55;
}

.timer {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #4caf50;      /* vert zen par défaut */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.4), 4,0,0,1);
    -fx-cursor: hand;
}

/* modes d’alerte dynamiques */
.timer.running     { -fx-text-fill: #ffb300; }
.timer.danger      { -fx-text-fill: #e53935; }
.timer.finished    { -fx-text-fill: #9e9e9e; }
.timer:hover       { -fx-underline: true; }


.welcome {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.tabTitle {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
